@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  width: 100%;
}


body {
  font-family: Roboto, Tajawal;
  min-height: 100vh;
  transition: all .3s ease-in-out;
}

.app {
  display: flex;
  margin: 0 auto;
  text-align: center;
}
/* Light Theme */
.app.light {
  font-family: Roboto, Tajawal;
  min-height: 100vh;
  background-color: #d3effa;
  color: #000000;
}

/* Dark Theme */
.app.dark {
  font-family: Roboto, Tajawal;
  min-height: 100vh;
  background-color: #171b19;
  color: #ffffff;
}


.home {
  width: 550px;
  grid-area: auto;
}

section {
  height: 100%;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px;
}

.btn {
  color: #fff;
  background-color: #007bff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #5fa8f7;
  transition: all 0.3s ease;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.btn-update {
  background-color: #007bff;
  padding: 20px 50px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input {
  background-color: transparent;
  outline: none;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media only screen and (max-width: 768px) {
  .side-menu {
    width: 100px;
  }
  .logout-btn h2,
  .navbar-link h2,
  .navbar-link h3 {
    display: none;
  }
  .home {
    width: 100%;
  }
  section {
    padding: 0;
  }
  .post-wrapper {
    margin: 10px;
  }
}

@media only screen and (max-width: 600px) {
  body {
    padding-bottom: 100px;
  }
  .home {
    width: 100%;
  }
  section {
    padding: 0;
  }

  .side-menu {
    height: 8%;
    width: 100%;
    position: fixed;
    top: 92vh;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    background-color: #19b7e7;
    color: #fff;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
  }
  .navbar-link {
    margin-bottom: 0;
  }
  .post-wrapper {
    margin: 5px;
  }
  .btn {
    padding: 0;
    background-color: #007bff00;
  }
  .ico {
    font-size: 30px;
  }
  .login-container {
    width: 100%;
  }
  .form,
  .login-form {
    width: 100%;
  }
}
