.comment {
  width: 100%;
  line-height: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
  border-radius: 12px;
}
.comments {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.comment {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2rem;
  color: rgb(151, 149, 149);
}

.comment-text-time {
  display: flex;
  gap: 2rem;
}

.time-stamp span {
  color: brown;
}

.comment img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.comment .delete-comment-btn:focus {
  outline: none;
}

.comment .delete-comment-btn:hover svg {
  color: red;
}

.comment-btn,
.see-more-btn {
  cursor: pointer;
}
.comment-btn {
  padding: 8px;
  border-radius: 12px;
  background-color: #0878f8;
  margin-bottom: 12px;
}
.see-more-btn {
  background-color: #333;
  padding: 0 10px;
}
.add-comment-form input[type="text"],
.comment-btn {
  margin-bottom: 0;
}
.add-comment-form {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 12px;
  align-self: center;
}
.delete-comment-btn {
  background-color: #34db3400;
  color: #f80808;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.delete-comment-btn:hover {
  background-color: #4b4c4d5e;
  border-radius: 12px;
}

@media only screen and (max-width: 768px) {
  .comment img {
    width: 20px;
    height: 20px;
  }

  .comment {
    font-size: small;
    font-weight: 500;
    line-height: 10px;
    padding: 0px;
    gap: 0rem;
  }
  .post {
    margin: 3px;
    padding: 0px;
  }
  .comment-text-time {
    display: flex;
    gap: 1rem;
  }
  .delete-comment-btn {
    padding: 6px 10px;
  }
}
